In [1]:
import sys
sys.path.insert(
    0,
    r"C:\Users\DELL\Desktop\Math and Stats for DS (CSC)",
)

In [2]:
%reload_ext autoreload

In [3]:
%autoreload 2

In [10]:
from utils import *

In [4]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import scipy.stats as stats

In [5]:
data = pd.read_excel('fertilizer.xlsx')

In [6]:
data.head()

   f1  f2  f3
0   6   8  13
1   8  12   9
2   4   9  11
3   5  11   8
4   3   6   7

## 1. Sự khác biệt giữa các cấp độ phân bón

In [7]:
f1 = np.asarray(data["f1"])
f2 = np.asarray(data["f2"])
f3 = np.asarray(data["f3"])

* Phát biểu null hypothesis Ho: mean of f1 is equal mean of f2

In [11]:
t_test(f1, f2)

t=-3.46, p=0.01
Reject null hypothesis

* Phát biểu null hypothesis Ho: mean of f1 is equal mean of f3

In [12]:
t_test(f1, f3)

t=-4.13, p=0.00
Reject null hypothesis

Phát biểu null hypothesis Ho: mean of f2 is equal mean of f3

In [13]:
t_test(f2, f3)

t=-0.76, p=0.47
Reject null hypothesis

* Nhận xét, với alpha = 0.05, ta loại bỏ (reject) giả thuyết null về sự giống nhau giữa giá trị trung bình của các đại lượng. Như vậy, có sự khác biệt đáng kể giữa các cấp độ phân bón

## Kiểm tra giả thuyêt:  phương sai bằng nhau

In [14]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [15]:
df_melt = pd.melt(data.reset_index(), id_vars=['index'], value_vars=["f1", "f2", "f3"])

In [17]:
df_melt.columns = ["index", "f_level", "value"]

In [18]:
df_melt

    index f_level  value
0       0      f1      6
1       1      f1      8
2       2      f1      4
3       3      f1      5
4       4      f1      3
5       5      f1      4
6       0      f2      8
7       1      f2     12
8       2      f2      9
9       3      f2     11
10      4      f2      6
11      5      f2      8
12      0      f3     13
13      1      f3      9
14      2      f3     11
15      3      f3      8
16      4      f3      7
17      5      f3     12

In [20]:
model = ols("value ~ C(f_level)", data=df_melt).fit()
anova_table = sm.stats.anova_lm(model, typ=2)

In [22]:
anova_table

            sum_sq    df         F    PR(>F)
C(f_level)    84.0   2.0  9.264706  0.002399
Residual      68.0  15.0       NaN       NaN

In [19]:
# levene test for equal variances
w, pvalue = stats.levene(data["f1"], data["f2"], data["f3"])
print(w, pvalue)

0.5084745762711866 0.61141482716892

* pvalue > 0.05, false to reject null hypothesis. Các đại lượng có cùng phương sai

## Kiểm tra giả thuyết: dữ liệu rút từ Normal Distribution

In [23]:
# Shapiro test for sample from normal distribution
w, pvalue = stats.shapiro(model.resid)
print(w, pvalue)

0.9222255349159241 0.14155364036560059

* pvalue > 0.05, dữ liệu được rút ra từ Normal Distribution